.nav {
    grid-area: n;
    background-color: #202222;
}
.item a {
    color: azure;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.item {
    padding: 7px 40px;
}

.item .active {
    color: red;
}
