.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialog a {
    color: lightcyan;
    text-decoration: none;
}
.dialog .active {
    color: #777575;
}

.dialog {
    padding: 10px;
}



.button {
    padding: 10px 20px;
}